/******************
GENERAL
******************/

body p {
  font-family: 'Open Sans', sans-serif;
  padding: 0;
}

#wrapper {
  max-width: 940px;
  color: black;
  margin: 0 auto;
  padding: 0 5%;
  text-align: justify;
}

#links {
  font-family: 'Monofett', cursive;
  font-size: 1.75em;
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
  text-align: center;
  padding: 0 0 15px 0;
}

li {
  display: inline;
  margin: 0;
  padding: 0;
  text-align: justify;
}

a {
  text-decoration: none;
}


/* Links */
a {
  color: #6ab47b;
}

img {
  width: 1920px;
  height: 350px;
  max-width: 100%;
}

/******************
HEADING
******************/

header {
  margin: 0 0 30px 0;
  padding: 5px 0 0 0;
  width: 100%;
}

h1 {
  margin: 15px 0;
  font-size: 1.75em;
  font-weight: normal;
  line-height: 0.8em;
}

h2 {
  font-size: 1.75em;
  font-weight: normal;
  display: inline;
  padding: 0 20px 20px 0;
  text-align: center;
}


/******************
NAVIGATION
******************/

nav {
  text-align: center;
  padding: 10px 0;
  margin: 20px 0 0;
}

nav ul {
  list-style: none;
  margin: 0 10px;
  padding: 0;
}

nav li {
  display: inline;
}

nav a {
  font-weight: 800;
}

/******************
FOOTER
******************/

footer {
  font-size: 0.75em;
  text-align: center;
  clear: both;
  padding-top: 50px;
  color: #ccc;
}

.social-icon {
  width: 20px;
  height: 20px;
  margin: 0 5px;
}

/******************
PAGE: PORTFOLIO
******************/

#gallery {
  margin: 0;
  padding: 10px 0 0 0;
  list-style: none;
}


#gallery li {
  color: black;
}

#gallery li a p {
  font-size: 0.75em;
  color: #bdc3c7;
  text-align: justify;
}

#gallery h3 {
  font-family: 'Nosifer', cursive;
  color: red;
  text-align: justify;
  margin: 0;
  padding: 20px 0 0 0;
}

#gallery1 h3 {
  font-family: 'Amatic SC', cursive;
  color: black;
  font-size: 2em;
  text-align: justify;
}

#gallery1 p {
  text-align: justify;
}

#gallery2 h3 {
  font-family: 'Amatic SC', cursive;
  color: black;
  font-size: 2em;
  text-align: justify;
}

#gallery2 p {
  text-align: justify;
}

/******************
PAGE: CONTACT
******************/

.contact-info {
  list-style: none;
  padding: 5px 0 5px 0;
  margin: 0;
  font-size: 0.9em;
  display: inline;
}

.contact-info a {
  display: inline;
  min-height: 20px;
  background-repeat: no-repeat;
  background-size: 20px 20px;
  padding: 0 0 0 30px;
  margin: 0 0 10px;
  text-align: justify;
}

/******************
PAGE: WHO WE ARE
******************/

#people {
  color: black;
  Padding: 0;
  background-color: #fff;
  text-align: justify;
}

#people h3 {
  font-family: 'Black Ops One', cursive;
  font-size: 1.25em;
  padding: 0;
  color: black;
}

#people p {
   color: black;
  Padding: 0;
  background-color: #fff;
  text-align: justify;
}

/******************
COLOURS
******************/

/* site body */
body {
  background-color: #fff;
  color: #999;
}



h1, h2 {
  color: #6ab47b;
  text-align: center;
  font-size: 1.75em;
}

nav {
  background: #6ab47b;
}

nav a, nav a:visited {
  color: #fff;
}

/* selected nav link color */
nav a.selected , nav a:hover {
  color: #fff;
}