@media screen and (min-width: 480px) {

  /******************
  PAGE: PORTFOLIO
  ******************/


  /******************
  PAGE: ABOUT
  ******************/

  .profile-photo {
    float: left;
    margin: 0 5% 80px 0;
  }

}

@media screen and (min-width: 660px){

  /******************
  HEADER
  ******************/

  nav {
    background: none;
    float: right;
    font-size: 1.125em;
    margin-right: 5%;
    text-align: right;
    width: 45%;
  }

  #logo {
    float: left;
    margin-left: 5%;
    text-align: left;
    width: 45%;
  }



  header {
    border-bottom: 5px solid #599a68;
    margin-bottom: 60px;
  }
}